@import './_type/header-section_type.css';

.header-section {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
