.card__article {
  flex: 1 0 auto;
  margin-bottom: 18px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .card__article {
    margin-bottom: calc((100vw - 768px)/(1439 - 768) * (18 - 12) + 12px);
  }
}

@media (max-width: 767px) {
  .card__article {
    margin-bottom: 12px;
  }
}
