.main__about {
  padding: 80px 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main__about {
    padding-top: calc((100vw - 768px)/(1439 - 768) * (80 - 40) + 40px);
    padding-bottom: calc((100vw - 768px)/(1439 - 768) * (80 - 40) + 40px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main__about {
    padding-top: calc((100vw - 320px)/(767 - 320) * (80 - 32) + 32px);
    padding-bottom: calc((100vw - 320px)/(767 - 320) * (80 - 32) + 32px);
  }
}

@media (max-width: 319px) {
  .main__about {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
