@import './__image/card__image.css';
@import './__icon/icon.css';
@import './__date/card__date.css';
@import './__article/card__article.css';
@import './__title/card__title.css';
@import './__text/card__text.css';
@import './__origin/card__origin.css';
@import './__bottom/card__bottom.css';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #FFF;
}
