.root-section_header {
  background-image: url(../../../../images/main-page/main-page-header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 450px) {
  .root-section_header {
    background-image: url(../../../../images/main-page/main-page-mobile-bg.jpg);
    background-position: top;
  }
}
