@import './_theme/_dark/menu__link_theme_dark.css';
@import './_theme/_light/menu__link_theme_light.css';

.menu__link {
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link:active {
  color: #2A65CC;
}
