.header__search-section {
  position: relative;
  width: 816px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header__search-section {
    padding-top: calc((100vw - 768px)/(1439 - 768) * (80 - 38) + 38px);
    padding-bottom: calc((100vw - 768px)/(1439 - 768) * (80 - 38) + 48px);
    width: calc((100vw - 768px)/(1439 - 768) * (816 - 528) + 528px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__search-section {
    padding-top: calc((100vw - 320px)/(767 - 320) * (38 - 30) + 30px);
    padding-bottom: calc((100vw - 320px)/(767 - 320) * (48 - 32) + 32px);
    width: calc((100vw - 320px)/(767 - 320) * (528 - 320) + 320px);
  }
}

@media (max-width: 319px) {
  .header__search-section {
    padding-top: 30px;
    padding-bottom: 32px;
    width: 100%;
  }
}
