.card__content {
    padding: 20px 24px 24px;

}

@media screen and (max-width: 900px) {
    .card__content {
        padding: calc((100vw - 768px)/(900 - 768)*(24 - 16) + 16px);
    }
}

@media screen and (max-width: 768px) {
    .card__content {
        padding: 16px;
    }
}
