.menu__page_place_footer {
  margin: 0 32px 0 0;
}

@media (max-width: 767px) {
  .menu__page_place_footer {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .menu__page_place_footer:last-child {
    margin-bottom: 0;
  }
}
